h1.thick {
  font-weight: bold;
}

h1.a {
  font-size: 21px;
}

p.a {
  font-size: 14px;
}

/* mouse over link */
 p:hover {
  color: #58D68D;
}

p {
    color: green;
}

p:active {
  text-decoration: underline;
}
